<html>

<head>
  <title>SIMPLE NOTE APP</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <div class="jumbotron">
      <h2>Note App</h2>
      <form action="/addNotes" method="POST">
        <div class="form-group">
          <input type="text" name="newName" class="form-control" placeholder="Full Name">
        </div>
        <div class="form-group">
          <textarea class="form-control" type="text" name="newNote" placeholder="Add new Note"></textarea>
          <button class="btn btn-success" type="submit">Add Note</button>
        </div>
        <div class="form-group">


          <h2>Added Notes</h2>


          <% for( var i = 0; i < note.length; i++){ %>


          <li><input type="checkbox" name="check" value="<%= note[i] %>" /> <%= note[i] %> </li>
          <% } %>


        </div>
    </div>
    </form>


    <div class="footer">
      <p>Copyright &copy 2019 ZinnyCodes</p>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>


</html>